<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema Contable</title>
    <link rel="stylesheet" href="/homestyle.css"> <!-- Enlaza tu archivo CSS si lo tienes -->
</head>
<body>
<header>
    <h1>Sistema Contable</h1>
</header>

<nav>
    <ul>
        <li><a th:href="@{/registrar_asiento}">Registrar Asiento</a></li>
        <li><a th:href="@{/generar_reportes}">Generar Reportes</a></li>
        <li><a th:href="@{/ver_asientos}">Ver Asientos</a></li>
    </ul>
</nav>

<main>
    <!-- Contenido principal de cada página se cargará aquí -->
</main>

<footer>
    <p>&copy; 2023 Isaguirre Juan Segundo</p>
</footer>
</body>
</html>
